body {
  background-image: url("./images/weather-background.jpg");

  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#userInputCity {
  width: 250px;
}

#userInputZip {
  width: 250px;
}

#subject {
  height: 200px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1518px;
  margin-left: -07px;
  margin-top: -10px;
  font-size: 20px;
  /* drop down? hover 
 and give m the options? */
}

.searchBar {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}

.displayContainer {
  display: grid;
  justify-content: center;
  padding-top: 5%;
  grid-template-columns: repeat(3, 250px);
}


  @media (max-width: 800px) {
    h1 {
      font-size: large;
    }
    .displayContainer {
      grid-template-columns: repeat(2, 200px);
    }
    h3 {
      font-size: small;
      background-color: lightskyblue;
    }
  }

@media (max-width: 1200px) {
  .navbar {
    display: grid;
    font-size: small;
    grid-template-rows: auto;
    justify-content: flex-start;
    font-size: large;
  }
}
